
<div class="about-side">

    <a href="/about/">
        <h4>Dr. Robin Thomson</h4>
        <div>
            
            <img src='/assets/images/robin.jpg' width="180px" alt="Dr. Robin Thomson"><img>

        </div>
    </a>
    <div class="about-side-text">
        Dr. Robin Thomson is a <a href='https://www.trilliumclinic.net/'>naturopathic physician</a> who has been practicing medicine since 2005. 
        She is both a primary care provider and an expert in treating patients with biotoxin 
        illnesses like Lyme disease and mold illness.
    </div>

</div>
