

{% comment %}
WWO: I created this page to loop over all pages in the collection. It's a page listing and it 
sorts the pages by creation date.
{% endcomment %}


{% if include.links %}

{%- for art in include.links -%}

    <div class="article-row">
        <div class="article-left">
            <div class="article-image"><img src="{{art.image-url}}"/></div>
        </div>
        <div class="article-right">
            <h4><a href="{{art.url}}">{{art.title}}</a></h4>
            {{art.summary}}
        </div>

    </div>

{%- endfor -%}

{%endif%}

