<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <a href="/index.html"><h2 class="footer-heading">{{ site.title | escape }}</h2></a>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li>        
              <a href="/about/">About Dr. Thomson</a>
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="/terms-conditions">Terms and Conditions</a>
        <br/><a href="/disclaimer">Disclaimer</a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <p>Dr. Thomson participates in affiliate programs, and thus, you may receive commissions from the links used on this site.</p>
      </div>
    </div>



</footer>
